@use "global" as *;

.about-us {
  padding-top: rem(20);
  padding-bottom: rem(20);
}
.about-us__body {
  margin-top: rem(24);
  @include mq {
    position: relative;
    margin-top: rem(40);
  }
}
.about-us__images {
  position: relative;
  width: 100%;
  aspect-ratio: 100 / 61.45;
}
.about-us__images img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 37.101449%;
}
.about-us__images img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -11;
  width: 81.449275%;
}
.about-us__container {
  margin-top: rem(40);
  @include mq {
    display: flex;
    justify-content: end;
    gap: rem(40);
    position: absolute;
    top: 30.25%;
    right: 3.7%; //~40px
    width: 100%; //~1080px
    margin-top: 0;
  }
}
.about-us__heading {
  color: $c-green-accent;
  font-size: rem(40);
  line-height: 1;
  @include mq {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
  }
}
.about-us__text-container {
  margin-top: rem(16);
  @include mq {
    flex-shrink: 0;
    width: 100%;
    max-width: 37%; //400px
    margin-top: 0;
  }
}
.about-us__text {
  color: $c-green01;
  @include mq {
    color: $white;
  }
}
.about-us__button-container {
  margin-top: rem(40);
}
.about-us__button-more {
  margin-right: auto;
  margin-left: auto;
}
