@use "global" as *;

.about-us__body {
  position: relative;
  max-width: rem(600);
  margin-top: rem(24);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: none;
    aspect-ratio: 1080 / 661;
    margin-top: rem(36);
    padding-top: 18.518519%;
  }
}
.about-us__images-box {
  width: 100%;
  height: 100%;
  @include mq {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.about-us__images {
  position: relative;
  width: 100%;
  aspect-ratio: 345 / 212;
  @include mq {
    aspect-ratio: unset;
    height: 100%;
  }
}
.about-us__image01 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 37.101449%;
  aspect-ratio: 128 / 194;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.about-us__image02 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 81.449275%;
  aspect-ratio: 281 / 186;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.about-us__container {
  margin-top: rem(41);
  position: relative;
  z-index: 3;
  @include mq {
    display: flex;
    gap: rem(40);
    width: 100%;
    margin-top: 0;
    padding-left: 18.518519%;
  }
}
.about-us__heading {
  color: $c-green-accent;
  font-size: rem(40);
  line-height: 1;
  @include mq {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
  }
}
.about-us__text-box {
  margin-top: rem(18);
  @include mq {
    flex-shrink: 0;
    width: 45.454545%;
    max-width: rem(400);
    margin-top: rem(3);
  }
}
.about-us__text {
  color: $c-green01;
  @include mq {
    color: $white;
  }
}
.about-us__button {
  margin-top: rem(37);
  text-align: center;
}
