@use "global" as *;

.blog {
  padding-top: rem(80);
  @include mq {
    position: relative;
    padding-top: rem(100);
  }
}
.blog__background {
  @include mq {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: zi(just-below);
    width: 100%;
    height: rem(500);
  }
}
.blog__background img {
  @include mq {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.blog__body {
  max-width: rem(600);
  margin-top: rem(24);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: none;
    margin-top: rem(76);
  }
}
.blog__card-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(280), 1fr));
  gap: rem(40);
  padding-left: rem(6);
  padding-right: rem(6);
  @include mq {
    padding: 0;
  }

  justify-items: center;
}
.blog__card-item {
  max-width: rem(333);
}
.blog__button-container {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(80);
  }
}
