@use "global" as *;

.campaign__inner {
  padding-top: rem(40);
  @include mq {
    padding-top: rem(120);
  }
}
.campaign__swiper {
  position: relative;
  margin-top: rem(24);
  @include mq {
    margin-top: rem(36);
  }
}

// * Swiper button location
.campaign__swiper-prev,
.campaign__swiper-next {
  display: none;
  position: absolute;
  top: rem(-25);
  right: auto;
  bottom: auto;
  left: auto;
  transform: translateY(-100%);
  width: rem(80);
  height: rem(80);
  // trbl:auto;,m0p0はデフォルト値上書き用
  margin: 0;
  padding: 0;
  @include mq {
    //初期値flexに戻してあげる
    display: flex;
  }
}
.campaign__swiper-prev {
  right: rem(160);
}
.campaign__swiper-next {
  right: 0;
}
.campaign__swiper-prev::after,
.campaign__swiper-next::after {
  // ! swiper 初期矢印打消し用
  content: none;
}
.campaign__button-container {
  // 15pxはswiperのpadding分
  margin-top: calc(rem(40) - rem(15));
  @include mq {
    margin-top: calc(rem(79) - rem(15));
  }
}
