@use "global" as *;

.campaign {
  padding-top: rem(20);
  padding-bottom: rem(20);
  overflow: hidden;
}
.campaign__items {
  padding-top: rem(24);
  @include mq {
    padding-top: rem(40);
  }
}
.campaign__item {
  width: 100%;
  max-width: rem(280);
  margin-bottom: rem(10);
  @include mq {
    max-width: rem(333);
  }
}

// * Swiper button
.campaign__swiper-prev,
.campaign__swiper-next {
  display: none;
  position: absolute;
  // trbl:auto;はデフォルト値上書き用
  top: rem(-25);
  right: auto;
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
  @include mq {
    display: flex;
  }
}

.campaign__swiper-prev {
  right: 160px;
}
.campaign__swiper-next {
  right: 0;
}

.campaign__button-container {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(80);
  }
}
.campaign__button-more {
  margin-right: auto;
  margin-left: auto;
}
