@use "global" as *;

footer {
  position: relative;
  padding: rem(48) 0 rem(56);
  background-color: $c-green-accent;
  @include mq {
    padding: rem(80) 0;
  }
}
.footer__logo-container {
  @include mq {
    display: flex;
    align-items: baseline;
    gap: rem(40);
  }
}
.footer__logo {
  width: rem(120);
}
.footer__sns-icons {
  margin-top: rem(16);
  @include mq {
    margin-top: 0;
  }
}
.footer__sns-icon:not(:first-of-type) {
  margin-left: rem(12);
}
.footer__nav {
  margin-top: rem(22);
  @include mq {
    margin-top: rem(24);
  }
}
.footer__copy {
  display: block;
  margin-top: rem(40);
  color: $white;
  font-size: rem(12);
  text-align: center;
  @include mq {
    margin-top: rem(80);
    font-size: rem(14);
  }
}

.footer__scroll-top-button {
  position: absolute;
  top: rem(-17);
  right: rem(15);
  width: rem(80);
  height: rem(80);
  transform: scale(0.6) translateY(-100%);
  transform-origin: right top;
  @include mq {
    top: rem(-20);
    right: rem(20);
    transform: scale(1) translateY(-100%);
  }
}
