@use "global" as *;

.gallery__blocks {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  width: 100%;
  margin-top: rem(36);

  @include mq {
    margin-top: rem(76);
  }
}

.gallery__block {
  display: grid;
  width: 100%;
  grid-gap: rem(8);
  @include mq {
    &:nth-of-type(2n + 1) {
      grid-template:
        "a b" 1fr
        "a c" 1fr / 45.5556% 53.7037%;
    }
    &:nth-of-type(2n) {
      grid-template:
        "b a" 1fr
        "c a" 1fr / 53.7037% 45.5556%;
    }
  }
}

.gallery__photo {
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.gallery__block:nth-of-type(2n + 1) > .gallery__photo {
  aspect-ratio: 580 / 369;

  &:nth-of-type(1) {
    aspect-ratio: 492 / 746;

    @include mq {
      grid-area: a;
    }
  }
}
.gallery__block:nth-of-type(2n) > .gallery__photo {
  aspect-ratio: 580 / 369;

  &:nth-of-type(3) {
    aspect-ratio: 492 / 746;

    @include mq {
      grid-area: a;
    }
  }
}
