@use "global" as *;

.information {
  background-color: $c-green02;
}
.information__inner {
  padding-bottom: rem(80);
  padding-top: rem(80);
  @include mq {
    padding-bottom: rem(100);
    padding-top: rem(100);
  }
}
.information__body {
  margin-top: rem(23);
  max-width: rem(600);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: none;
    display: flex;
    margin-top: rem(35);
  }
}
.information__image {
  @include mq {
    flex-shrink: 0;
    width: 50%;
  }
}
.information__text-container {
  @include mq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(48);
  }
}
.information__sub-title {
  margin-top: rem(27);
  border-bottom: rem(2) solid $c-green-accent;
  color: $c-green01;
  font-weight: $bold;
  font-size: rem(20);
  line-height: 1.2;
  @include mq {
    margin-top: rem(3);
    padding-bottom: rem(4);
    font-size: rem(24);
    line-height: 1;
  }
}
.information__text {
  margin-top: rem(6);
  color: $c-green01;
  font-family: $second-font-family;
}
.information__button-container {
  margin-top: rem(39);
}
