@use "global" as *;

.page-campaign__categories{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-campaign__cards {
  max-width: rem(520);
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  padding-left: rem(33);
  padding-right: rem(33);
  @include mq {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.page-campaign__pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(80);
}
