@use "global" as *;

.page-terms-of-service__inner.inner {
  max-width: rem(560);
  @include mq {
    max-width: rem(850);
  }
}
.page-terms-of-service__title {
  color: $cGreen01;
  font-weight: $medium;
  font-size: rem(24);

  @include mq {
    font-size: rem(32);
  }
}
.page-terms-of-service__text {
  margin-top: rem(40);
  color: $cGreen01;
  line-height: 2;

  & > p:nth-of-type(n + 3),
  & > ul {
    margin-top: 2em;
  }
  & li {
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1.4em;
  }
}
