@use "global" as *;
.page-voice__categories{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-voice__cards {
  max-width: rem(520);
  margin-top: rem(40);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: none;
  }
}
.page-voice__pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(80);
  @include mq {
    margin-top: rem(72);
  }
}
