@use "global" as *;

.page-campaign__inner{
  max-width: rem(560);
}
.page-campaign__categories{
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-campaign__cards {
  margin-top: rem(40);
  padding-left: rem(33);
  padding-right: rem(33);
  @include mq {
    padding-left: 0;
    padding-right: 0;
  }
}
.page-campaign__pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(80);
}
