@use "global" as *;

.page-top {
  margin-top: rem(52);
  @include mq {
    margin-top: rem(150);
  }
}

.page-top.page-top--long {
  margin-top: rem(121);
  @include mq {
    margin-top: rem(150);
  }
}
