@use "global" as *;

.page-information__body {
  max-width: rem(600);
  @include mq {
    max-width: none;
  }

  margin-inline: auto;
}
.page-information__containers {
  margin-top: rem(16);

  @include mq {
    margin-top: rem(24);
  }
}
.page-information__container {
  display: none;
  padding-bottom: rem(24);
  padding-left: rem(24);
  padding-right: rem(24);
  padding-top: rem(24);
  border: 1px solid $cGreenAccent;
  background-color: $white;
}
.page-information__container.is-active {
  display: block;

  @include mq {
    display: flex;
    flex-direction: row;
    gap: rem(48);
  }
}

.page-information__text-box {
  @include mq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 47.6744%;
  }
}

.page-information__title {
  border-bottom: 1px solid $cGreenAccent;
  color: $cGreen01;
  font-weight: $bold;
  font-size: rem(24);

  @include mq {
    font-weight: $medium;
  }
}

.page-information__text {
  margin-top: rem(8);
  font-size: rem(16);
}

.page-information__photo {
  flex-shrink: 0;
  width: 100%;
  aspect-ratio: 297 / 189;
  margin-top: rem(8);

  @include mq {
    max-width: rem(492);
    aspect-ratio: 492 / 313;
    margin-top: rem(0);
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
