@use "global" as *;

.page-blog__body {
  @include mq {
    display: flex;
    justify-content: space-between;
  }
}

.page-blog__cards {
  // margin-top: rem(24);
  // margin-right: auto;
  // margin-left: auto;

  // @include mq {
  //   margin-top: rem(76);
  // }
}

.page-blog__pagination {
  display: flex;
  justify-content: center;
  margin-top: rem(80);
}

.page-blog__left-side {
  max-width: rem(333+40+333);
  width: 100%;
}
.page-blog__right-side {
  width: rem(294);
  margin-inline: auto;
  margin-top: rem(80);
  @include mq {
    margin-top: initial;
    margin-inline: initial;
    flex-shrink: 0;
  }
}
