@use "global" as *;

.page-404 {
  position: relative;
  padding-bottom: rem(40);
  padding-top: rem(50);
  background-image: url(../images/ornaments/fish-whale-white-big.png);
  background-position: top -100% center;
  background-size: rem(345);
  background-repeat: no-repeat;
  background-color: $cGreenAccent;
  text-align: center;
  @include mq {
    padding-bottom: rem(147);
    padding-top: rem(124);
    background-position: top rem(-20) left calc(50% + rem(349) - rem(540));
    background-size: rem(698);
  }
}

.page-404__body {
  max-width: rem(600);
  margin-right: auto;
  margin-left: auto;

  @include mq {
    max-width: rem(800);
  }
}

.page-404__title {
  color: $white;
  font-weight: $normal;
  font-size: rem(80);
  font-family: $third-font-family;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  line-height: 1;
  margin-top: rem(16);
  @include mq {
    font-size: rem(160);
  }
}

.page-404__text {
  margin-top: rem(6);
  color: $white;
  line-height: 1.5;

  @include mq {
    margin-top: rem(43);
  }
}

.page-404__button {
  margin-top: rem(38);

  @include mq {
    margin-top: rem(78);
  }
}
