@use "global" as *;

.price {
  background-color: $c-green02;
}
.price__inner {
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}
.price__image-sp {
  margin-top: rem(24);
}
.price__body {
  margin-top: rem(43);
  @include mq {
    display: flex;
    justify-content: space-between;
    gap: 9%;
  }
}
.price__image-pc {
  max-width: 45.5%;
}

.price__list:not(:first-child) {
  padding-top: rem(44);
}
.price__button-container {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(80);
  }
}