@use "global" as *;

.price {
  padding-bottom: rem(80);
  padding-top: rem(80);
  background-color: $c-green02;
  @include mq {
    padding-bottom: rem(100);
    padding-top: rem(100);
  }
}
.price__image-sp {
  position: relative;
  width: 100%;
}
.price__image-sp::before {
  content: "";
  display: block;
  padding-top: 65.8%;
  // sp 227/345 = 65.797101%
  // pc none
}
.price__image-sp img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.price__body {
  max-width: rem(600);
  margin-top: rem(23);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8.8%;
    max-width: none;
    margin-top: rem(35);
  }
}
.price__lists {
  margin-top: rem(43);
  @include mq {
    margin-top: rem(3);
    padding-bottom: rem(32); // 行増えたときに背景の魚と被らないように。
  }
}
.price__image-pc {
  @include mq {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    max-width: 45.6%;
    margin-right: rem(3);
  }
}
.price__image-pc::before {
  @include mq {
    content: "";
    display: block;
    padding-top: 151.6%;
    // sp none
    // pc 746/492 = 151.626016%
  }
}
.price__image-pc img {
  @include mq {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.price__list:not(:first-child) {
  padding-top: rem(44);
}
.price__button {
  margin-top: rem(40);
  text-align: center;
  @include mq {
    margin-top: rem(80);
  }
}
