@use "global" as *;

.price {
  background-color: $c-green02;
}
.price__inner {
  padding-bottom: rem(80);
  padding-top: rem(80);
  @include mq {
    padding-bottom: rem(100);
    padding-top: rem(100);
  }
}
.price__image-sp {
  margin-top: rem(23);
}
.price__body {
  margin-top: rem(43);
  @include mq {
    display: flex;
    justify-content: space-between;
    gap: 8.8%;
    margin-top: rem(35);
  }
}
.price__lists {
  margin-top: rem(3);
  @include mq {
    padding-bottom: rem(32); // 行増えたときに背景の魚と被らないように。
  }
}
.price__image-pc {
  @include mq {
    width: 100%;
    max-width: 45.6%;
    flex-shrink: 0;
  }
}

.price__list:not(:first-child) {
  padding-top: rem(44);
}
.price__button-container {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(80);
  }
}
