@use "global" as *;

.campaign.section-top__campaign {
  padding-top: rem(40);
  @include mq {
    padding-top: rem(120);
  }
}

.about-us.section-top__about-us {
  padding-top: rem(60);
  @include mq {
    padding-top: rem(120);
  }
}

.section-top__information.information {
  margin-top: rem(60);
  @include mq {
    margin-top: rem(120);
  }
}
.section-top__voice.voice {
  padding-top: rem(60);
  @include mq {
    padding-top: rem(100);
  }
}

.section-top__price.price {
  padding-top: rem(80);
  margin-top: rem(60);
  @include mq {
    padding-top: rem(100);
    margin-top: rem(120);
  }
}
