@use "global" as *;

.sub-view {
  width: 100%;
  height: rem(460);
  @include mq {
    height: rem(548);
  }
}
.sub-view__inner {
  width: 100%;
  height: inherit;
}
.sub-view__body {
  position: relative;
  width: 100%;
  height: inherit;
}
.sub-view__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: zi(just-above);
  transform: translate(-50%, -50%);
  @include mq {
    top: 59%;
  }
}
.sub-view__text {
  color: $white;
  font-weight: $normal;
  font-size: rem(40);
  line-height: 1;
  font-family: $third-font-family;
  text-align: center;
  @include mq {
    font-size: rem(80);
  }
}
.sub-view__text::first-letter {
  text-transform: uppercase;
}
.sub-view__text.sub-view__text--uppercase {
  text-transform: uppercase;
}
.sub-view__image,
.sub-view__image img {
  width: 100%;
  height: inherit;
}
.sub-view__image img {
  object-fit: cover;
}
