@use "global" as *;

// * y : left or right distance in absolute
// * y0 : pixel value under view width is 1440px
// * d : a side distance from 1440px, cf) view width = 1440px + 2d
// * y = y0 + d = y0 + 50vw - 720px

.treatment{
  position: relative;
}


//about-us
.treatment__about-us {
  position: absolute;
  bottom: rem(50);
  right: max(rem(25), calc(rem(83) + 50vw - rem(720)));
}

//blog
.treatment__blog {
  position: absolute;
  top: rem(24);
  left: max(rem(25), calc(rem(100) + 50vw - rem(720)));
  width: rem(437);
}

//voice
.treatment__voice {
  position: absolute;
  top: rem(-50);
  left: max(rem(25), calc(rem(100) + 50vw - rem(720)));
  width: rem(301);
}
.treatment__voice02 {
  position: absolute;
  bottom: rem(73);
  right: max(rem(25), calc(rem(180) + 50vw - rem(720)));
  width: rem(71);
}

//price
.treatment__price {
  position: absolute;
  bottom: rem(60);
  left: max(rem(25), calc(rem(100) + 50vw - rem(720)));
  width: rem(437);
}

//contact
.treatment__contact {
  position: absolute;
  top: rem(100);
  right: max(rem(25), calc(rem(50) + 50vw - rem(720)));
  width: rem(301);
}
