@use "global" as *;

.voice__body {
  max-width: rem(520);
  margin-top: rem(39);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: none;
    margin-top: rem(25);
  }
}
.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq {
    margin-top: rem(80);
  }
}
