@use "global" as *;

.voice__inner {
  padding-bottom: rem(80);
  padding-top: rem(80);
  @include mq {
    padding-bottom: rem(140);
    padding-top: rem(140);
  }
}
.voice__body {
  margin-top: rem(39);
  max-width: rem(520);
  margin-right: auto;
  margin-left: auto;
  @include mq {
    max-width: none;
    margin-top: rem(25);
  }
}
.voice__card-items {
  display: grid;
  grid-template-columns: repeat(1, minmax(rem(280), 1fr));
  gap: rem(40);
  @include mq {
    grid-template-columns: repeat(2, minmax(rem(280), 1fr));
  }
}
.voice__button-container {
  margin-top: rem(40);
  @include mq {
    margin-top: rem(80);
  }
}
