@use "sass:math";

// 数値のみを取り出す
// 参照：https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

@function vw($window_width, $size) {
  @return math.div($size, $window_width) * 100vw;
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($px) {
  @return calc($px / 16 * 1rem);
}

//重なり順（z-index）
@function zi($key) {
  @return map-get($z-index-layer, $key);
}
$z-index-layer: (
  loading: 9000,
  modal: 8000,
  hamburger: 7000,
  button-top-page: 6000,
  header-logo: 5000,
  drawer: 4000,
  header: 3000,
  just-above: 1000,
  default: 1,
  just-below: -1000,
);
