@use "global" as *;

.arrow {
  position: relative;
  width: rem(44);
  height: rem(2);
  background-color: black;
}
.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  width: rem(16);
  height: rem(2);
  background-color: inherit;
  right: 0;
  transform: rotate(40deg);
  transform-origin: center right;
}
.arrow.arrow--mirror::after {
  transform: rotate(-40deg);
}
