@use "global" as *;

.arrow {
  position: relative;
  width: rem(40);
  height: rem(2);
  background-color: $white;
}
.arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(40deg);
  transform-origin: center right;
  width: rem(10);
  height: rem(2);
  background-color: inherit;
}
.arrow.arrow--mirror::after {
  transform: rotate(-40deg);
}
.arrow.arrow--green {
  background-color: $cGreenAccent;
}
