@use "global" as *;

.button-slide {
  width: rem(80);
  height: rem(80);
  margin: 0;
  padding: 0;
  border: rem(1) solid $c-green-accent;
  border-radius: 50%;
}
.button-slide__arrow {
  background-color: $c-green-accent;
}
.button-slide__arrow--left {
  transform: rotate(180deg);
}
.button-slide__arrow--up {
  transform: rotate(-90deg);
}
