@use "global" as *;

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(8);
  position: relative;
  z-index: 1;
  // width: 14.428571em;
  min-width: rem(202);
  margin-right: rem(5); //:before用調整
  margin-bottom: rem(5); //:before用調整
  padding: rem(15) rem(39);
  border: rem(1) solid $c-green-accent;
  background-color: $c-green-accent;
  color: $white;
  font-size: rem(14);
  line-height: calc(22 / 14);
  transition: color 0.3s;
}
.button p:first-letter {
  text-transform: capitalize;
}

// * outer border
.button::before {
  content: "";
  position: absolute;
  right: rem(-4);
  bottom: rem(-4);
  z-index: -1;
  width: 100%;
  height: 100%;
  // 親要素と高さ幅を完全一致させるためoutlineを採用
  // border: rem(1) solid $c-green-accent;
  outline: rem(1) solid $c-green-accent;
}

// * background on hover
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0, 1);
  transform-origin: left top;
  width: 100%;
  height: 100%;
  background-color: $white;
  transition: cubic-bezier(0.45, 0, 0.55, 1) 0.2s;
}
.button__arrow {
  flex-shrink: 0;
  margin-top: rem(2);
  background-color: white;
  transition: background-color 0.3s;
}

// * hover
.button:hover {
  @include mq {
    color: $c-green-accent;
  }
}
.button:hover .button__arrow {
  @include mq {
    background-color: $c-green-accent;
  }
}
.button:hover::after {
  @include mq {
    transform: scale(1, 1);
  }
}
