@use "global" as *;

.card-blog {
  display: block;
  width: 100%;
  padding: rem(16) rem(16) rem(21);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba($black, 0.25);
  background: $white;
}
.card-blog__link {
  display: block;
  width: 100%;
}
.card-blog__body {
  margin-top: rem(20);
}
.card-blog__date {
  color: $c-green01;
  font-size: rem(12);
}
.card-blog__title {
  margin-top: rem(1);
  border-bottom: rem(2) solid $c-green-accent;
  color: $c-green01;
  font-weight: $normal;
  font-size: rem(16);
}
.card-blog__content {
  margin-top: rem(18);
}
.card-blog__text {
  color: $c-green01;
  font-size: rem(16);
}
