@use "global" as *;

.cards01 {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  gap: rem(40) rem(40);

  @include mq {
    gap: rem(80) rem(40);
  }
}
.cards01.cards01--c2 {
  @include mq {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards01.cards01--c3 {
  @include mq {
    grid-template-columns: repeat(3, 1fr);
  }
}
.cards01__card {
  max-width: rem(333);
}
