@use "global" as *;

.card-voice {
  display: block;
  width: 100%;
  padding-bottom: rem(21);
  padding-left: rem(16);
  padding-right: rem(16);
  padding-top: rem(15);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba($black, 0.25);
  background: $white;
  @include mq {
    padding-left: rem(24);
    padding-right: rem(24);
    padding-top: rem(24);
  }
}
.card-voice__link {
  display: block;
  width: 100%;
}
.card-voice__flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: rem(13);
  @include mq {
    gap: rem(16);
  }
}
.card-voice__sub-container {
  @include mq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}
.card-voice__information {
  color: $c-green01;
  font-size: rem(12);
  font-family: $second-font-family;
  flex-shrink: 0;
}
.card-voice__title {
  margin-top: rem(8);
  padding-bottom: rem(1);
  border-bottom: rem(2) solid $c-green-accent;
  color: $c-green01;
  font-weight: $medium;
  font-size: rem(16);
  line-height: calc(23 / 16);
  @include mq {
    margin-top: rem(10);
    padding-bottom: 0;
    font-size: rem(24);
  }
}
.card-voice__image {
  flex-shrink: 0;
  width: rem(150);
  max-width: 49%;
  @include mq {
    width: rem(180);
  }
}
.card-voice__content {
  margin-top: rem(17);
  @include mq {
    margin-top: rem(43);
  }
}
.card-voice__text {
  color: $black;
  // font-size: rem(16);
}
