@use "global" as *;

.cards02 {
  display: grid;
  grid-template-columns: repeat(1, minmax(rem(280), 1fr));
  gap: rem(40) rem(40);
  justify-items: center;
  @include mq {
    grid-template-columns: repeat(2, minmax(rem(280), 1fr));
    gap: rem(80) rem(40);
  }
}

.cards02__card {
  width: 100%;
}