@use "global" as *;

.card-campaign {
  display: block;
  width: 100%;
  box-shadow: 2px 2px 10px 0 rgba($black, 0.25);
  background: $white;
}
.campaign__link {
  display: block;
  width: 100%;
}
.card-campaign__body {
  padding-top: rem(16);
  padding-right: rem(16);
  padding-left: rem(16);
  padding-bottom: rem(20);
  @include mq {
    padding-top: rem(24);
    padding-bottom: rem(40);
  }
}
.card-campaign__title {
  margin-top: rem(8);
  color: $c-green01;
  font-weight: $medium;
  font-size: rem(16);

  padding-bottom: rem(4);
  border-bottom: rem(2) solid $c-green-accent;
}
.card-campaign__content {
  text-align: center;
}
.card-campaign__text {
  margin-top: rem(10);
  color: $c-green01;
  font-size: rem(14);
  line-height: calc(24 / 14);
  @include mq {
    margin-top: rem(16);
    // font-size: rem(16);
  }
}
.card-campaign__prices {
  margin-top: rem(5);
}
.card-campaign__price-before,
.card-campaign__price-after {
  font-weight: $bold;
  line-height: 1;
  font-family: "lato";
}
.card-campaign__price-before {
  position: relative;
  color: $c-green01;
  font-size: rem(20);
  @include mq {
    font-size: rem(24);
  }
}
.card-campaign__price-before::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: rem(3);
  background-color: $c-red;
}
.card-campaign__price-after {
  margin-left: rem(14);
  color: $c-green-accent;
  font-size: rem(32);
  line-height: 1;
  @include mq {
    margin-left: rem(24);
    font-size: rem(40);
  }
}
