@use "global" as *;

.category-diving {
  display: inline-block;
  margin-left: auto;
  padding-bottom: rem(6);
  padding-left: rem(11);
  padding-right: rem(11);
  padding-top: rem(10);
  border: rem(1) solid $cGreenAccent;
  color: $cGreenAccent;
  font-size: rem(12);
  line-height: 1;
  @include mq {
    padding-bottom: rem(8);
    padding-left: rem(15);
    padding-right: rem(15);
    padding-top: rem(12);
  }
}
