@use "global" as *;

.diving-products {
  width: 100%;
}
.diving-products__category {
  width: 100%;
  border-bottom: rem(2) solid $cGreenAccent;
  color: $cGreen01;
  font-weight: $bold;
  font-size: rem(16);
}
.diving-products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem(11) 0;
  width: 100%;
  margin-top: rem(9);
  font-family: $second-font-family;
  @include mq {
    gap: rem(7) 0;
    margin-top: rem(8);
  }
}
.diving-products__name {
  width: 80%;
  color: $cGreen01;
  font-size: rem(14);
  text-align: left;
  @include mq {
    font-size: rem(16);
  }
}
.diving-products__price {
  width: 20%;
  color: $cGreen01;
  font-size: rem(14);
  // font-family: $second-font-family;
  text-align: right;
  @include mq {
    font-size: rem(16);
  }
}
