@use "global" as *;

.pagination__body {
  display: flex;
  gap: rem(12);
}
.pagination__prev,
.pagination__next,
.pagination__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $cGreenAccent;
  background-color: $white;
  color: $cGreenAccent;
  font-weight: $bold;
  font-size: rem(16);
  line-height: 1;
  font-family: $second-font-family;
}
.pagination__number {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.pagination__prev,
.pagination__next {
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  &:hover {
    border: 1px solid $white;
    background-color: $cGreenAccent;
    color: $white;
    cursor: pointer;
  }
}

.pagination__prev {
  margin-right: rem(28);
}
.pagination__next {
  margin-left: rem(28);
}
.pagination__number:nth-of-type(n + 6) {
  display: none;

  @include mq {
    display: flex;
  }
}
.pagination__number.is-active {
  background-color: $cGreenAccent;
  color: $white;
}

// Modifier Blog-single
.pagination.pagination--blog-single {
  & .pagination__prev {
    margin-right: rem(35);
  }
  & .pagination__next {
    margin-left: rem(35);
    @include mq {
      margin-right: rem(32);
    }
  }
}
