@use "global" as *;

.js-campaign-swiper .swiper {
  width: 100%;
  padding-right: calc((100vw - 100%) / 2);
  box-sizing: content-box;
}
.js-campaign-swiper .swiper-wrapper {
  padding-bottom: rem(15);
}
.js-campaign-swiper .swiper-slide {
  width: rem(280);
  height: auto;

  @include mq {
    width: auto; //pcはjsで数（幅）管理。
  }
}
