@use "global" as *;

.swiper02 .swiper {
  width: 100%;
  padding-right: calc((100vw - 100%) / 2);
  box-sizing: content-box;
}
.swiper02 .swiper-wrapper {
  padding-bottom: rem(15);
}
.swiper02 .swiper-slide {
  width: rem(280);
  height: auto;
  
  @include mq {
    width: auto; //pcはjsで数（幅）管理。
  }
}
